.bgimg-1 {
    background-image: url('../imgs/bg.jpg');
}
.bgimg-2 {
    background-image: url('../imgs/pricing.jpg');
    color: white;
}
.bgimg-3 {       
    background-image: url('../imgs/team.jpg');
}  
#home .scroll-arrows .fa {
    color: white;
}
@media (max-width: 768px) {
    .scroll-arrows {
        display: none;
    }
}

.w3-card img {
    width: 60%;
}
.w3-section img {
    width:100px; height:100px; vertical-align:middle; margin-right:5px;
}
.padding48 {
    padding:48px;
}

#pricing{
    padding:128px 16px; position: relative;
}

.margin-top-46 {
    margin-top:46px;
}
.margin-top-64 {
    margin-top:46px;
}
#team {
    padding:128px 16px; position: relative;
}

.homepage-team-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage-team-card {
    max-width: 420px;
}
