/* Stile per il contenitore del testo di login */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.padding48 {
    padding: 48px;
}

/* Stile per il background dell'header */
.bgimg-1 {
    background-image: url('../imgs/login.jpg');
}
.password-container {
    display: flex;
    position: relative;
}

.password-container input {
    flex: 1;
}


#show_psw{
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}
