body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.bgimg-1 {
    background-image: url('../imgs/reset_password.jpg');
}


.padding48 {
    padding: 48px;
}

.password-container {
    display: flex;
    position: relative;
}

.password-container input {
    flex: 1;
}
#show_psw, #show_conf {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.password-box{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
meter{
    width: 20vh;
}

meter.weakest::-webkit-meter-optimum-value {
    background: #ff6b6b;
}

meter.weak::-webkit-meter-optimum-value {
    background: #ffb304;
}

meter.fair::-webkit-meter-optimum-value {
    background: #f3ff00;
}

meter.good::-webkit-meter-optimum-value {
    background: #ace3a4;
}

meter.strong::-webkit-meter-optimum-value {
    background: #22fa00;
}
@media screen and (max-width: 600px) {
    #show_psw, #show_conf {
        right: 5px; /* Adjust as needed for smaller screens */
    }
}
