LimitRequestBody 10485760

# Prevent direct access to PHP files
<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

# Allow access only to specified files, such as index.php
<Files "index.php">
    Require all granted
</Files>

RewriteEngine On
RewriteBase /

# Force HTTPS (optional)
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Do not rewrite requests for static resources
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico)$ [NC]

# Do not rewrite requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite all other requests to index.php
RewriteRule ^(.+)$ index.php [QSA,L]

# Protect the .env file
<Files .env>
    Require all denied
</Files>

# Disable directory listing
Options -Indexes
